.economy__content {
    width: 575px;
}

@media screen and (max-width: 1190px) {
    .economy__content {
        width: 322px;
    }
}

@media screen and (max-width: 768px) {
    .economy__content {
        width: 100%;
    }
}
