.lead__list {
    padding-left: 30px;
}

@media screen and (max-width: 1190px) {
    .lead__list {
        display: block;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .lead__list {
        padding-left: 30px;
        width: 65%;
    }
}