.economy__text_area-green {
    display: inline-block;
    width: 100%;
    background-color: #d6e9d5;
    height: 56px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: #1d8119;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 30px 0 13px 0;
}

@media screen and (max-width: 1190px) {
    .economy__text_area-green {
        font-size: 20px;
        line-height: 27px;
        padding-top: 2px;
        margin: 30px 0 4px 0;
        height: 32px;
        border-radius: 4px;
    }
}

@media screen and (max-width: 768px) {
    .economy__text_area-green {
        display: none;
    }
}
